<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
xmlns="http://java.sun.com/xml/ns/javaee" 
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" 
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" 
id="WebApp_ID" version="2.5"> 

  <display-name>Archetype Created Web Application</display-name>

<!-- Welcome page -->
	<welcome-file-list>
		<welcome-file>index.xhtml</welcome-file>
	</welcome-file-list>

  <servlet>
    <servlet-name>Faces Servlet</servlet-name>
    <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>Faces Servlet</servlet-name>
    <url-pattern>*.xhtml</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>Push Servlet</servlet-name>
  	<servlet-class>org.primefaces.push.PushServlet</servlet-class>
  </servlet>
   <servlet-mapping>
    <servlet-name>Push Servlet</servlet-name>
    <url-pattern>/primepush/*</url-pattern>
  </servlet-mapping>

 <filter>
        <filter-name>FiltroSessao</filter-name>
        <filter-class>br.com.ferreira.filtro.ControleDeUsuarios</filter-class>
</filter>
<filter-mapping>
        <filter-name>FiltroSessao</filter-name>
        <url-pattern>/pages/*</url-pattern>
</filter-mapping>


  <context-param>   
<param-name>primefaces.THEME</param-name>   
<param-value>blitzer</param-value>   
</context-param> 

<context-param>   
<param-name>com.sun.faces.writeStateAtFormEnd</param-name>   
<param-value>false</param-value>   
</context-param> 

<context-param>
   <param-name>javax.faces.DEFAULT_SUFFIX</param-name>
   <param-value>.xhtml</param-value>
</context-param>

<!-- FILTRO DE UPLOAD DO PRIMEFACES -->
 <filter>
    <filter-name>PrimeFaces FileUpload Filter</filter-name>
    <filter-class>org.primefaces.webapp.filter.FileUploadFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>PrimeFaces FileUpload Filter</filter-name>
    <servlet-name>Faces Servlet</servlet-name>
  </filter-mapping>
  
  <resource-ref>
        <res-ref-name>jdbc/cpatri</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
    </resource-ref>
    
   <context-param>  
    <param-name>javax.faces.FULL_STATE_SAVING_VIEW_IDS</param-name>  
    <param-value>/index.xhtml,/pages/cadBens.xhtml, /primepush/*</param-value>  
   </context-param>  
</web-app>